<% content_for(:title, "Your To Do App") %>

<h1>Lists</h1>

<ul>
  <% @lists.each do |list| %>
    <li><%= link_to list.name, list_path(list) %></li>
  <% end %>
</ul>

<%= link_to "Add New List", new_list_path, :class => "btn btn-info" %>


<h1>To Do Tasks</h1>
<ul>
  <% @lists.each do |list| %>
  <% list.tasks.not_done().each do |task| %>
    <li>
      <%= task.description %>
      <%= form_for [list, task] do |f| %>
      <%= f.hidden_field(:done, :value => true) %>
      <%= f.submit 'mark done', :class => "btn btn-success" %>
  <% end %>
    </li>
  <% end %>
  <% end %>
</ul>


<h1>Done Tasks</h1>
<ul>
  <% @lists.each do |list| %>
  <% list.tasks.done().each do |task| %>
    <li>
      <%= task.description %>
      <%= form_for [list, task] do |f| %>
      <%= f.hidden_field(:done, :value => false) %>
      <%= f.submit 'mark not done', :class => "btn btn-warning" %>
  <% end %>
    </li>
  <% end %>
  <% end %>
</ul>
